@font-face {
  font-family: retro_computer_personal_use;
  src: url(./font/retro_computer_personal_use.ttf);
}

#textojuego, #menu, #info, .container{
    font-family: retro_computer_personal_use;
    color: white;
    background-color: black;
    border: outset;
    border-color: grey;
    border-width: 10px;
}

#info{
    text-align: center;
    font-size: 20px;
    border-left: none;
    border-top: none;
    border-right: none;
}


#menu{
    padding: 1%;
    height: 12em;
    width: 60%;
    float: right;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 25px;

}

#textojuego{
    padding: 1%;
    height: 7em;
    width: 98%;
    display: inline-block;
    font-size: 25px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#mapa {
    display: inline-block;
}

#worldMap {
    border-style: solid;
}